<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <img class="w-100" src="../assets/sample.jpg" alt="hey">
    </div>
  </div>
</div>
<br>
  <div class="container" style="text-align: center;">
      <h2 class="text-center mx-auto" >ENTER YOUR LOCATION DOWN HERE</h2>
  </div><br>
    <div class="row mx-auto" style="text-align: center;">
        <div class="col-12">
          <div class="form">
            <div class="form-group">
            <input type="search" class="form-control" id="exampleInputPassword1" placeholder="Enter your location">
          </div>
          <button type="submit" class="btn btn-danger">SEARCH</button>
          </form>
        </div>
      </div>
<router-outlet></router-outlet>